<h1><%= @chydak.title %></h1>

<p><%= @chydak.body %></p>

<ul>
    <li><%= link_to "Edit", edit_chydak_path(@chydak) %></li>
    <li><%= link_to "Destroy", chydak_path(@chydak), data: {
            turbo_metod: :delate,
            turbo_confirm: "Are you sure?"
        } %></li>
</ul>

<h2>Comments</h2>
<% render @chydak.comments %>
    
<h2>Add a comment:</h2>
<%= render 'comments/form' %>